#form-wrapper {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

#form {
    display: flex;
    flex-direction: column;
}

.form-warning {
    margin: 5px 0px 5px 25px;
    color: orange;
}

.form-button-submit {
    margin-top: 20px;
}

.form-input-section {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
}

.form-icon {
    color: #3f4247;
}

@media (min-width: 800px) {
    #form-wrapper {
        width: 50%;
        max-width: 500px;
    }
}
