.cheque {
    background: linear-gradient(rgba(68, 179, 230, 0.5), white);
    height: 300px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    border-radius: 2px;
    padding: 15px;
    margin-top: 50px;
}

.cheque:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cheque-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cheque-logo-area {
    width: 250px;
    height: 100px;
}

.cheque-body {
    display: grid;
    grid-template-columns: 65% 35%;
}

.cheque-date-area {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.cheque-date-row {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
}

.cheque-numeric-amount-area {
    display: grid;
    justify-items: center;
    grid-template-rows: 40px 1fr;
    box-sizing: border-box;
}

.cheque-numeric-amount {
    background-color: white;
    border: 2px solid #ccc;
    width: 80%;
    height: 100%;
    display: grid;
    align-items: center;
    padding-left: 10px;
    grid-template-columns: 1em 1fr;
}

.cheque-numeric-amount-text {
    height: fit-content;
}

.cheque-payee-name,
.cheque-date,
.cheque-text-amount,
.cheque-numeric-amount-text,
.cheque-signature-area {
    font-family: "adobe-handwriting-tiffany", cursive;
    color: black;
}

.cheque-payee-name,
.cheque-date,
.cheque-numeric-amount,
.cheque-signature-area {
    font-size: 1.2em;
}

.cheque-numeric-amount-text {
    font-size: 1em;
}

.cheque-signature-area {
    height: 1.5em;
}

.cheque-payee-name,
.cheque-date,
.cheque-text-amount,
.cheque-signature-area {
    border-bottom: 2px solid #000;
}

.cheque-payee-name,
.cheque-text-amount {
    border-right: 2px solid #000;
}

.cheque-payee-name {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.cheque-text {
    text-transform: uppercase;
}

.cheque-footer {
    display: grid;
}

.cheque-signature-area {
    justify-self: right;
}

.new-cheque-button-wrapper {
    width: 100%;
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

@media (min-width: 800px) {
    .cheque {
        width: 80%;
        max-width: 700px;
    }
}
